h1,
p {
  font-family: Lato;
}

[aria-hidden="true"] {
  display: none;
}

[aria-hidden="false"] {
  display: block;
}

[aria-selected="true"] {
  background-color: white;
  color: black;
}
[aria-selected="false"] {
  background-color: black;
  color: white;
}